---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[如何实现:]发布和分析测试结果？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目进度。 此视频将说明了如何 publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 04/17/2019
ms.locfileid: "59413498"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="cde61-105">[如何实现:]发布和分析测试结果？</span><span class="sxs-lookup"><span data-stu-id="cde61-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="cde61-106">通过[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="cde61-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="cde61-107">Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目进度。</span><span class="sxs-lookup"><span data-stu-id="cde61-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="cde61-108">此视频提供了有关如何将测试结果发布到 Team Foundation Server 项目数据库并将结果与生成号关联的说明。</span><span class="sxs-lookup"><span data-stu-id="cde61-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="cde61-109">我们看到的结果被发布后我们可以使用报表管理器在我们生成的测试结果中查看更改的图形表示形式。</span><span class="sxs-lookup"><span data-stu-id="cde61-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="cde61-110">&#9654;观看视频 （7 分钟为单位）</span><span class="sxs-lookup"><span data-stu-id="cde61-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="cde61-111">[上一页](how-do-i-use-generic-tests.md)
> [下一页](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="cde61-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
