---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[如何实现：]发布和分析测试结果？ | Microsoft Docs'
author: rick-anderson
description: 通过 Visual Studio Team System，你可以在项目进行过程中以项目代码质量来绘制更改。 此视频提供了有关如何 publ
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520874"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[如何实现：]发布和分析测试结果？

作者： [Chris Menegay](https://twitter.com/CMenegay)

通过 Visual Studio Team System，你可以在项目进行过程中以项目代码质量来绘制更改。 此视频提供有关如何将测试结果发布到 Team Foundation Server 项目数据库并将结果与生成号关联的说明。 我们发现，在发布结果后，可以使用报表管理器查看生成测试结果中的更改的图形表示形式。

[&#9654;观看视频（7分钟）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [上一页](how-do-i-use-generic-tests.md)
> [下一页](how-do-i-discover-application-changes-prior-to-deployment.md)
